
<div class="border border-stone-300 bg-stone-100 rounded-md px-4 py-2 shadow-md my-5 relative">

    <button 
    class="absolute top-2 right-2"
    (click)="emitOpenModalEvent()"
    >
        <img src="assets/modifyIcon.svg" alt="" class="h-5 aspect-square rounded-sm cursor-pointer outline-1 outline-stone-500 hover:opacity-60 hover:outline-amber-500 transition-all duration-300 ease-out">
    </button>

    <div class="infos-container grid grid-cols-[4fr_1fr] gap-10">

        <div class="flex flex-col gap-2" >

            <div class="flex justify-between items-center">
                <p class="font-semibold text-lg">{{hike?.title}}</p>
            </div>

            <div class="flex justify-between items-center gap-10">

                <div class="flex gap-2">
                    <img src="assets/hike_icons/path_icon.svg" alt="" class="h-6 aspect-square">
                    <p><span class="font-semibold italic">{{hike?.distance | numberFormat}}</span> km</p>
    
                </div>

                <div>
                    <div class="flex gap-2 mb-4">
                        <img src="assets/hike_icons/up-trend-bis_icon.svg" alt="" class="h-6 aspect-square">
                        <p><span class="font-semibold italic">{{hike?.positive | numberFormat}}</span> m</p>
                    </div>
                    <div class="flex gap-2">
                        <img src="assets/hike_icons/down-trend-bis_icon.svg" alt="" class="h-6 aspect-square">
                        <p><span class="font-semibold italic">{{hike?.negative | numberFormat}}</span> m</p>
                    </div>
                </div>
    
                <div>
                    <div class="flex gap-2 mb-4">
                        <img src="assets/hike_icons/calendar_icon.svg" alt="" class="h-6 aspect-square">
                        <p>{{hike?.date | date:'dd/MM/yyyy'}}</p>
                    </div>
                    <div class="flex gap-2">
                        <img src="assets/hike_icons/clock_icon.svg" alt="" class="h-6 aspect-square">
                        <p><span class="italic">{{hike?.duration}}</span> {{hike?.durationUnit}}</p>
                    </div>
                </div>

                <div>
                    <div class="flex gap-2">
                        <img src="assets/hike_icons/weight-bis_icon.png" alt="" class="h-6 aspect-square">
                        <p>{{(hike?.totalWeight ?? 0) / 1000}} kg</p>
                    </div>
                    <div>
                        @if((hike?.weightCorrection ?? 0) >= 0){
                            <p class="text-sm text-stone-500">Corr : +{{hike?.weightCorrection}} g</p>
                        }@else{
                            <p class="text-sm text-stone-500">Corr : {{hike?.weightCorrection}} g</p>
                        }
                    </div>
                </div>
            </div>          
        </div>
        <div class="flex justify-center items-center">
            <p class="text-center h-30 aspect-square rounded-full border border-red-600">GRAPH</p>
        </div>
    </div>

    
</div>
