<div class="modal-content h-fit py-4 px-6 w-4xl">
    <div class="modal-title text-lg font-semibold text-center">
        @if(requestType === 'Ajout'){
            <p class="">Vous partez en rando ?</p>
        }
        @else if(requestType === 'Modification'){
            <p class="">Changement de plan ?</p>
        }
    </div>

    <form [formGroup]="hikeForm" (ngSubmit)="onSubmit()">
    
        <div class="form-errors text-orange-400 h-[20px] mb-10 flex flex-col items-center">
    
            <p class="text-red-600 text-lg">{{hikeHttpError}}</p>
    
            @if (this.allFieldsTouched() && hikeForm.invalid) {
                <p class="text-lg ">Informations manquantes.</p>
            }
        
        </div>
    
        <div class="grid grid-cols-2 gap-8">
            <div class="left-side">

                <div class="flex flex-col w-full mb-10">
                    <label for="hikeForm-title" class="underline italic font-semibold text-sm">Titre de la randonnée : </label>
                    <input id="hikeForm-title" type="text" formControlName="title" placeholder="GR20, GR5, Hexatrek, Gavarnie, ..."
                    class="w-full bg-[#F1F1F1] border-b-2 border-slate-500 px-1 py-2"
                    maxlength="30">
            
                    <div class="input-errors text-orange-500 h-8">
                        @if ((title?.touched) && title?.hasError('required')) {
                            <p class="text-sm text-center">{{getErrorMessage('required')}}</p>
                        }
                        @if ((title?.touched) && title?.hasError('maxLength')) {
                            <p class="text-sm text-center">{{getErrorMessage('maxLength', 30)}}</p>
                        }
                    </div>
                </div>

                <div class="flex flex-col  w-full mb-10 relative">
                    <label for="hikeForm-distance" class="underline italic font-semibold text-sm">Distance (en km) : </label>
                    <input id="hikeForm-distance" type="text" formControlName="distance" placeholder="3, 5, 15, 20, 100, 3034, ..."
                    class="w-full bg-[#F1F1F1] border-b-2 border-slate-500 px-1 py-2"
                    maxLength="8">
                    <img src="assets/hike_icons/path_icon.svg" class="absolute top-7 right-2 h-6 aspect-square">
            
                    <div class="input-errors text-orange-500 h-8">
                        @if ((distance?.touched) && distance?.hasError('required')) {
                            <p class="text-sm text-center">{{getErrorMessage('required')}}</p>
                        }
                        @if ((distance?.touched) && distance?.hasError('pattern')) {
                            <p class="text-sm text-center">{{getErrorMessage('numberFormat', 0, "xxxx.xx")}}</p>
                        }
                    </div>
                </div>

                <div class="flex gap-6 w-full">
                    <div class="flex flex-col w-full relative">
                        <label for="hikeForm-positive" class="underline italic font-semibold text-sm">Dénivelé positif (en m) : </label>
                        <input id="hikeForm-positive" type="text" formControlName="positive" placeholder="100, 1000, 138000, ..."
                        class="w-full bg-[#F1F1F1] border-b-2 border-slate-500 px-1 py-2"
                        maxLength="6">
                        <img src="assets/hike_icons/up-trend-bis_icon.svg" class="absolute top-7 right-2 h-6 aspect-square">
                        <div class="input-errors text-orange-500 h-8">
                            @if ((positive?.touched) && positive?.hasError('required')) {
                                <p class="text-sm text-center">{{getErrorMessage('required')}}</p>
                            }
                            @if ((positive?.touched) && positive?.hasError('pattern')) {
                                <p class="text-sm text-center">{{getErrorMessage('number', 1000000,'', 'm')}}</p>
                            }
                        </div>
                    </div>
                    <div class="flex flex-col w-full relative">
                            <label for="hikeForm-negative" class="underline italic font-semibold text-sm">Dénivelé négatif (en m) : </label>
                            <input id="hikeForm-negative" type="text" formControlName="negative" placeholder="100, 1000, 138000, ..."
                            class="w-full bg-[#F1F1F1] border-b-2 border-slate-500 px-1 py-2"
                            maxLength="6">
                            <img src="assets/hike_icons/down-trend-bis_icon.svg" class="absolute top-7 right-2 h-6 aspect-square">
                        <div class="input-errors text-orange-500 h-8">
                            @if ((negative?.touched) && negative?.hasError('required')) {
                                <p class="text-sm text-center">{{getErrorMessage('required')}}</p>
                            }
                            @if ((negative?.touched) && negative?.hasError('pattern')) {
                                <p class="text-sm text-center">{{getErrorMessage('number',100000,'', 'm')}}</p>
                            }
                        </div>
                    </div>
                </div>
            </div>

            <div class="right-side">
                <div class="flex gap-5 items-end">
                    <div class="flex flex-col w-full mb-10">
                        <label for="hikeForm-duration" class="underline italic font-semibold text-sm">Durée estimée : </label>
                        <input id="hikeForm-duration" type="text" formControlName="duration" placeholder="..."
                        class="w-full bg-[#F1F1F1] border-b-2 border-slate-500 px-1 py-2"
                        maxLength="4">
                        <div class="input-errors text-orange-500 h-8">
                            @if ((duration?.touched) && duration?.hasError('required')) {
                                <p class="text-sm text-center">{{getErrorMessage('required')}}</p>
                            }
                            @if ((duration?.touched) && duration?.hasError('pattern')) {
                                <p class="text-sm text-center">{{getErrorMessage('number',1000,'')}}</p>
                            }
                        </div>
                    </div>
                    <div class="flex flex-col w-full mb-10">
                        <select id="hikeForm-durationUnit" formControlName="durationUnit" class="mt-1 w-full bg-[#F1F1F1] outline-1 rounded-md outline-slate-300 px-1 py-2">
                            @for(unit of durationUnits; track $index){
                                <option value="{{unit}}">
                                    {{unit}}
                                </option>
                            }
                        </select>
                        <div class="input-errors text-orange-500 h-8">
                    
                        </div>
                    </div>
                </div>

                <div class="flex flex-col w-full mb-10">
                    <label for="hikeForm-date" class="underline italic font-semibold text-sm">Date prévue : </label>
                    <input id="hikeForm-date"  type="date" formControlName="date"
                    class="bg-[#F1F1F1] border-b-2 border-slate-500 px-1 py-2">
            
                    <div class="input-errors text-orange-500 h-8">
                        @if ((date?.touched) && date?.hasError('required')) {
                            <p class="text-sm text-center">{{getErrorMessage('required')}}</p>
                        }
                    </div>
                </div>

                @if(requestType === 'Modification'){
                    <div class="flex flex-col w-full">
                        <label for="hikeForm-weightCorrection" class="underline italic font-semibold text-sm">Correctif de poids (en g): </label>
                        <input id="hikeForm-weightCorrection"  type="text" formControlName="weightCorrection"
                        class="bg-[#F1F1F1] border-b-2 border-slate-500 px-1 py-2" maxlength="6">

                        <div class="input-errors text-orange-500 h-8">
                        @if ((weightCorrection?.touched) && weightCorrection?.hasError('pattern')) {
                                <p class="text-sm text-center">{{getErrorMessage('number_neg',10000,'', '')}}</p>
                            }
                    </div>
                    </div>
                }

                <!-- <div class="flex flex-col  w-full mb-10">
                    <label for="">MODÈLES .... </label>
                    <div class="input-errors text-orange-500 h-8">
                        
                    </div>
                </div> -->
            </div>
        </div>

    
        <div class="btns-container flex justify-center items-center gap-10 mb-4">
            
            <button type="submit"
                [disabled]="hikeForm.invalid"
                class="text-white mt-10 disabled:cursor-not-allowed not-disabled:hover:opacity-80 rounded-md bg-amber-500 px-2 py-3 shadow-md disabled:bg-gray-500 cursor-pointer">
                @if(requestType === 'Ajout'){
                    Créer la randonnée
                }
                @else if(requestType === 'Modification'){
                    Modifier la randonnée
                }
            </button>

            @if(requestType === 'Modification'){
                <button type="button"
                (click)="emitRemoveEvent()"
                class="text-white mt-10 hover:opacity-80 rounded-md bg-red-600 px-2 py-3 shadow-md cursor-pointer">
                    Supprimer
                </button>
            }
        </div>
    
    </form>
</div>