<h1 class="text-xl text-center mb-10 italic">Mes équipements</h1>

<div class="flex justify-end">
    <button class="mb-10 px-3 py-2 rounded-sm bg-amber-500 text-white min-w-[100px] cursor-pointer hover:opacity-80 shadow-md absolute top-0 right-0"
        (click)="openEquipmentModal()">
        Ajouter un équipement
    </button>
</div>

@if(loaderActive){
    <app-basic-loader title="Récupération de l'inventaire" />
}
@else {
    <div class="" cdkDropListGroup>
        @for (category of inventory.categories; track $index) {
            <div class="flex gap-2 relative">
                @if(category.id !== "DEFAULT"){
                    <div class="flex flex-col justify-center absolute -left-8 top-0 h-12">
                        @if(!$first){
                            <button (click)="moveCategoryUp(category.id!)" class="w-8 h-8 flex justify-center items-center hover:opacity-40 hover:outline-1 outline-amber-500 rounded-md cursor-pointer ">
                                <img src="assets/down-chevron.svg" alt="move up" class="h-4 rotate-180 ">
                            </button>
                        }
                        @if(!($index == inventory.categories.length-2)){
                            <button (click)="moveCategoryDown(category.id!)" class="w-8 h-8 flex justify-center items-center hover:opacity-40 hover:outline-1 outline-amber-500 rounded-md cursor-pointer ">
                                <img src="assets/down-chevron.svg" alt="move down" class="h-4 ">
                            </button>
                        }
                    </div>   
                }
                
                <div class="category-equipments-container mb-5 flex-grow">
                    <div 
                    id="category-container-{{category.id}}"
                    class="category-container cursor-pointer px-4 py-2 rounded-t-md rounded-b-md bg-[#6b9430] flex items-center justify-between transition-all duration-300 ease-in-out"
                    (click)="toggleCategoryContainer(category.id)"
                    >

                        <div class="icon-name-container flex items-center gap-5">
                            @if(category.icon !== 'no_icon'){
                                <img src="assets/category_icons/{{category.icon}}.svg" alt="?" class="h-8 aspect-square">
                            }
                            <p class="font-semibold">{{category.name}}</p>
                        </div>
                        <div class="btns-container flex gap-5">
                            <button
                            stop-click-propagation
                            class="p-2 rounded-full hover:outline-1 hover:outline-amber-500 cursor-pointer"
                            (click)="openCategoryModal(category)">
                            <img src="assets/modifyIcon.svg" alt="" class="h-4 aspect-square">
                        </button>
                        <button
                            id="category-toggle-{{category.id}}"
                            class="p-2 rounded-full hover:outline-1 hover:outline-white cursor-pointer ">
                            <img src="assets/down-chevron.svg" alt="" class="h-4 aspect-square transition-all duration-300 ease-in-out">
                        </button>
                        </div>
                    </div>

                    <div
                    id="equipment-content-{{category.id}}"
                    class="equipment-container rounded-b-md px-10 w-full max-h-0 overflow-y-hidden transition-all duration-400 ease-in-out border-stone-300">
                        <div cdkDropList (cdkDropListDropped)="dropEquipment($event, category)" cdkDropListOrientation="mixed"
                        [cdkDropListData]="getEquipmentsForCategory(category.id!)"
                        class="drag-list-container grid grid-cols-3 gap-10 min-h-10">
                            @for(equipment of getEquipmentsForCategory(category.id!); track $index){
                                <app-equipment-card [equipment]="equipment" [dragable]="true" [context]="'Inventory'"
                                (delete)="openRemoveEquipmentModal(equipment)" 
                                cdkDrag [cdkDragData]="equipment"/>
                            }
                         </div>
                        </div>
                    </div>
                </div>

            }
            
            <div class="category-container px-4 py-2 rounded-sm bg-stone-300 flex justify-between">
                <div class="flex items-center">
                    <p class="font-semibold">Ajouter une catégorie</p>
                </div>
                <div class="">
                    <button 
                    (click)="openCategoryModal()"
                    class="h-8 aspect-square rounded-full bg-amber-500 font-semibold text-white cursor-pointer shadow-sm hover:opacity-80">
                    +
                </button>
            </div>
        </div>

    </div>
}

