

<header class="text-gray-400 bg-[#3A4D39] body-font border-b border-b-gray-400">
  <div class="container mx-auto flex flex-wrap flex-col md:flex-row items-center">
    <a class="flex title-font font-medium items-center text-white mb-4 md:mb-0 cursor-pointer hover:opacity-90">
        <!-- LOGO -->
         <img [src]="appLogoUrl" alt="Logo HikerThinker" class="h-20 w-20">
      <span routerLink="/home" routerLinkActive="active-link" class="text-xl">HikerThinker</span>
      <span class="ml-6 text-sm text-white">v0.1.1</span>
    </a>
    <nav class="md:ml-auto flex flex-wrap items-center text-base justify-center">
      @if (isLogged()) {
        <a routerLink="/profile" routerLinkActive="active-link" class="mr-5 hover:text-white cursor-pointer">{{authService.currentUserSignal()?.firstName}} {{authService.currentUserSignal()?.lastName}}</a>
        <a routerLink="/home" routerLinkActive="active-link" class="mr-5 hover:text-white cursor-pointer">Accueil</a>
        <a routerLink="/inventory" routerLinkActive="active-link" class="mr-5 hover:text-white cursor-pointer">Inventaire</a>
        <a routerLink="/hikes" routerLinkActive="active-link" class="mr-5 hover:text-white cursor-pointer">Randonnées</a>
        <a routerLink="/models" routerLinkActive="active-link" class="mr-5 cursor-not-allowed text-stone-800">Modèles</a>
        <a routerLink="/logout" class="mr-5 hover:text-white cursor-pointer">Se déconnecter</a>
      }
      @else {
        <a routerLink="/home" routerLinkActive="active-link" class="mr-5 hover:text-white cursor-pointer">Accueil</a>
        <a routerLink="/login" routerLinkActive="active-link" class="mr-5 hover:text-white cursor-pointer">Se connecter</a>
        <a routerLink="/register" routerLinkActive="active-link" class="mr-5 hover:text-white cursor-pointer">S'inscrire</a>
      }

    </nav>
  </div>
</header>

