<div class="modal-content max-h-[70vh] overflow-y-scroll py-6 px-4 w-4xl">
    <div class="modal-title text-center">
        @if(this.context === 'Hike'){
            <p class="text-lg font-semibold">Ajouter un équipement à cette randonnée</p>
        }
        @else if(this.context === 'Model'){
            <p class="text-lg font-semibold">Ajouter un équipement à cet modèle</p>
        }
    </div>

    <app-source-equipment-list [mode]="'inventory'" (choosedEquipment)="onAddClick($event.id)" [alreadyInEquipments]="this.alreadyInEquipments"/>
</div>  