<div class="mb-4 p-2 border border-amber-600">
    <div class="flex justify-center items-center gap-5">
        <img src="assets/placeholder-image.jpg" alt="" class="h-20 aspect-square">
        <div>
            <p>{{equipment?.name}}</p>
            <p>{{equipment?.description}}</p>
            <p>{{equipment?.brand}}</p>
            <p>{{equipment?.weight}} g</p>
        </div>
    </div>
    <div class="btns flex justify-around mt-4">
        <button class="px-2 py-1 rounded-sm bg-green-900 text-white min-w-[100px] cursor-pointer hover:opacity-80">Voir</button>
        <button class="px-2 py-1 rounded-sm bg-red-700 text-white min-w-[100px] cursor-pointer hover:opacity-80">Retirer</button>
    </div>
</div>