
<div class="modal-content h-fit pb-4 w-full">
    <div class="modal-title text-lg text-center mb-10">
        <p class="font-semibold">Êtes-vous bien sûr ???</p>
    </div>
    <div class="modal-content">
        <p>Vous ne pourrez plus voir les statistiques de cet équipement.</p>
        <p>Vous ne pourrez plus affecter cet équipement aux futurs randonnées et modèles.</p>
        <p>L'équipement sera supprimé de l'inventaire et des modèles dans lequel il se trouve.</p>
        <p>En confirmant, l'équipement sera définitivement supprimé.</p>

        <button 
            (click)="removeEquipment()"
            class="confirm-btn block mt-10 mx-auto py-2 px-3 rounded-md shadow-md cursor-pointer hover:opacity-80 bg-amber-500 text-white">
            Confirmer
        </button>
    </div>
</div>
