<h1 class="text-xl text-center mb-10 italic">Mon compte</h1>


<div class="grid grid-cols-[2fr_1fr] gap-20">
    <div class="personnal-infos bg-stone-50 border border-stone-300 shadow-md rounded-md px-14 py-2">
        <h2 class="text-center text-lg mb-4">Mes informations personnelles</h2>

        <p class="text-sm h-6 text-red-500 text-center mb-4">{{this.httpError}}</p>

        <div class="names-container flex justify-between gap-10">
            <div class="grow">
                <p class="text-sm italic">Nom</p>
                <p class="border-b-1 border-[#6b9430] py-1">{{authService.currentUserSignal()?.lastName}}</p>
            </div>
            <div class="grow">
                <p class="text-sm italic">Prénom</p>
                <p class="border-b-1 border-[#6b9430] py-1">{{authService.currentUserSignal()?.firstName}}</p>
            </div>
        </div>
        <div class="mt-10">
            <p class="text-sm italic">Email</p>
            <p class="border-b-1 border-[#6b9430] py-1">{{authService.currentUserSignal()?.email}}</p>
        </div>

        <button
        (click)="openModifyUserModal()"
        class="block mx-auto w-20 text-white my-10 rounded-md border border-stone-300 bg-amber-500 px-2 py-3 shadow-md cursor-pointer hover:opacity-80 transition-all duration-200 ease-in-out">
            Modifier
        </button>

    </div>
    <div class="statistics bg-stone-50 border border-stone-300 shadow-md rounded-md px-4 py-2">
        <h2 class="text-center text-lg mb-4">Statistiques</h2>
        @if(loaderActive){
            <app-basic-loader title="Calcul en cours" />
        }
        @else {
            <div class="stats-container">
                <div class="flex justify-between">
                    <p class="stat-label text-sm italic">Nombre de randonnée(s) :</p>
                    <p class="stat-value">{{userStats?.hikeCount ?? 0}}</p>   
                </div>
                <div class="flex justify-between mt-4">
                    <p class="stat-label text-sm italic">Distance totale :</p>
                    <p class="stat-value">{{userStats?.totalDistance ?? 0 | number:'1.0-1':'fr-FR'}} <span class="italic">km</span></p>   
                </div>
                <div class="flex justify-between">
                    <p class="stat-label text-sm italic">Distance moyenne :</p>
                    <p class="stat-value">{{userStats?.averageDistance ?? 0 | number:'1.0-1':'fr-FR'}} <span class="italic">km</span></p>   
                </div>
                <div class="flex justify-between mt-4">
                    <p class="stat-label text-sm italic">Dénivelé positif total :</p>
                    <p class="stat-value">{{userStats?.totalPositive ?? 0 | number:'1.0-0':'fr-FR'}} <span class="italic">m</span></p>   
                </div>
                <div class="flex justify-between">
                    <p class="stat-label text-sm italic">Dénivelé positif moyen :</p>
                    <p class="stat-value">{{userStats?.averagePositive ?? 0 | number:'1.0-0':'fr-FR'}} <span class="italic">m</span></p>   
                </div>
                <div class="flex justify-between mt-4">
                    <p class="stat-label text-sm italic">Dénivelé négatif total :</p>
                    <p class="stat-value">{{userStats?.totalNegative ?? 0 | number:'1.0-0':'fr-FR'}} <span class="italic">m</span></p>   
                </div>
                <div class="flex justify-between">
                    <p class="stat-label text-sm italic">Dénivelé négatif moyen :</p>
                    <p class="stat-value">{{userStats?.averageNegative ?? 0 | number:'1.0-0':'fr-FR'}} <span class="italic">m</span></p>   
                </div>
                <div class="flex justify-between mt-4">
                    <p class="stat-label text-sm italic">Durée totale :</p>
                    <p class="stat-value">{{userStats?.totalDurationHours ?? 0}}<span class="italic">h</span> | {{(userStats?.totalDurationHours ?? 0) / 24 | number:'1.0-2' }} <span class="italic">j</span></p>   
                </div>
                <div class="flex justify-between">
                    <p class="stat-label text-sm italic">Durée moyenne :</p>
                    <p class="stat-value">{{userStats?.averageDurationHours ?? 0}}<span class="italic">h</span> | {{(userStats?.averageDurationHours ?? 0) / 24 | number:'1.0-2' }} <span class="italic">j</span></p>   
                </div>
                <div class="flex justify-between my-4">
                    <p class="stat-label text-sm italic">Poids moyen :</p>
                    <p class="stat-value">{{(userStats?.averageWeight ?? 0)/1000 | number:'1.0-3':'fr-FR'}} <span class="italic">kg</span></p>   
                </div>
            </div>
        }

    </div>
</div>

