
<div class="mx-auto h-[123px] aspect-square relative flex justify-center items-center">

    @if(graphInfos.isUnique){
        <div class="absolute section h-[121px] aspect-square rounded-full opacity-95 outline-1 outline-black"
            [ngStyle]="{'background' : graphInfos.infos[0].sectionStyle}">
            </div>
            <div class="section-content absolute origin-center z-20 flex flex-col justify-center"
            [ngStyle]="{'transform' : graphInfos.infos[0].iconStyle}">
                <img src="assets/category_icons/{{graphInfos.infos[0].category.icon}}.svg" alt="" 
                class="h-4 aspect-square">
                <p class="italic text-[10px] font-semibold">{{graphInfos.infos[0].percentage.toFixed(0)}}%</p>
              </div>
    }
    @else{
        @for(categoryInfos of graphInfos.infos; track $index){
            <div class="absolute section h-[121px] aspect-square rounded-full opacity-95 outline-1 outline-black"
            [ngStyle]="{'background' : categoryInfos.sectionStyle}">
            </div>
            <span class="absolute -translate-y-1/2 bg-black h-[61px] w-[1px] z-10 origin-bottom"
            [ngStyle]="{'transform' : categoryInfos.endBorderRotationStyle}">
            </span>

            @if(categoryInfos.percentage > 15 ){
                <div class="section-content absolute origin-center z-20 flex flex-col justify-center"
                    [ngStyle]="{'transform' : categoryInfos.iconStyle}">
                    <img src="assets/category_icons/{{categoryInfos.category.icon}}.svg" alt="" 
                    class="h-4 aspect-square">
                    <p class="italic text-[8px] font-semibold text-[#F1F1F1]">{{categoryInfos.percentage.toFixed(0)}}%</p>
                </div>
            }
            @else{
                <img src="assets/category_icons/{{categoryInfos.category.icon}}.svg" alt="" 
                class="h-4 aspect-square absolute origin-center z-20" [ngStyle]="{'transform' : categoryInfos.iconFallbackStyle}">
                <p class="italic text-[10px] font-semibold text-[#F1F1F1] absolute origin-center z-20"
                [ngStyle]="{'transform' : categoryInfos.percentStyle}">
                {{categoryInfos.percentage.toFixed(0)}}%
                </p>
            }
           
        }
    }

  </div>

    