<!-- Modal container -->
<div
  class="fixed inset-0 z-50 flex items-center justify-center"
  [hidden]="!isOpen"
>
    <!-- Fond de la modale  -->
    <div class="modal-overlay absolute w-full h-full bg-gray-900 opacity-80"
    (click)="close()">
    </div>

  <!-- Contenu de la modale -->
  <div class="relative z-50 bg-[#F1F1F1] rounded-lg p-6 w-fit max-w-6xl">

    <button (click)="close()" class="absolute flex justify-center items-center top-0 right-4 mt-4 p-2 bg-red-600 text-[#F1F1F1] rounded-md cursor-pointer hover:opacity-80 shadow-md">
        <img src="assets/closeIcon.svg" alt="X" class="h-6 aspect-square">
    </button>

    <ng-container #modalContainer></ng-container>
    
  </div>
</div>