<!-- Modal container -->
<div
  class="fixed inset-0 z-50 flex items-center justify-center"
  [hidden]="!isOpen"
>
    <!-- Fond de la modale  -->
    <div class="modal-overlay absolute w-full h-full bg-gray-900 opacity-80"
    (click)="close()">
    </div>

  <!-- Contenu de la modale -->
  <div class="relative z-50 bg-[#F1F1F1] rounded-lg p-6 w-full max-w-xl">

    <button (click)="close()" class="absolute top-0 right-4 mt-4 px-4 py-2 bg-red-600 text-[#F1F1F1] rounded-md">
        x
    </button>

    <ng-container #modalContainer></ng-container>
    
  </div>
</div>