
<div class="modal-content h-fit pb-4 w-2xl">
    <div class="modal-title text-lg text-center mb-10">
        <p class="font-semibold">Modifier vos informations personnelles</p>
    </div>
    <form [formGroup]="userForm" (ngSubmit)="onSubmit()" class="px-10">
    
        <div class="form-errors text-orange-400 h-[20px] mb-8 flex flex-col items-center">
    
            <p class="text-red-600 text-lg"></p>
    
            @if ((this.userForm.touched && userForm.invalid) || hasBeenSubmitted) {
                <p class="text-lg ">Informations manquantes.</p>
            }
        
        </div>

        <div class="flex flex-col mb-10">
            <label for="formLastName" class="text-sm italic ">Nom :</label>
            <input id="formLastName" type="text" formControlName="lastName" required placeholder="Nom" 
            class="bg-[#F1F1F1] border-b-2 border-slate-500 py-2">
    
            <div class="input-errors text-center text-orange-500 h-8">
                @if ((lastName?.touched || hasBeenSubmitted) && lastName?.hasError('required')) {
                    <p class="text-sm">{{getErrorMessage('required')}}</p>
                }
                @if ((lastName?.touched || (userForm.touched && userForm.invalid)) && lastName?.hasError('minlength')) {
                    <p class="text-sm">{{getErrorMessage('minlength',1)}}</p>
                }
            </div>
    
        </div>
    
        <div class="flex flex-col mb-10">
            <label for="formFirstName" class="text-sm italic">Prénom :</label>
            <input id="formFirstName" type="text" formControlName="firstName" required placeholder="Prénom" 
            class="bg-[#F1F1F1] border-b-2 border-slate-500 py-2">
    
            <div class="input-errors text-center text-orange-500 h-8">
                @if ((firstName?.touched || hasBeenSubmitted) && firstName?.hasError('required')) {
                    <p class="text-sm">{{getErrorMessage('required')}}</p>
                }
                @if ((firstName?.touched || (userForm.touched && userForm.invalid)) && firstName?.hasError('minlength')) {
                    <p class="text-sm">{{getErrorMessage('minlength',1)}}</p>
                }
            </div>
        </div>

        <div class="flex flex-col mb-10">
            <label for="formPassword" class="text-sm italic ">Mot de passe :</label>
            <input id="formPassword" type="password" formControlName="password" placeholder="Votre mot de passe"
            class="bg-[#F1F1F1] border-b-2 border-slate-500 py-2">
    
            <div class="input-errors text-center text-orange-500 h-8">
                @if ((password?.touched || hasBeenSubmitted) && password?.hasError('required')) {
                    <p class="text-sm">Champs requis</p>
                }
                @if ((password?.touched) && password?.hasError('maxLength')) {
                    <p class="text-sm">TROP LONG</p>
                }
            </div>
        </div>
        <div class="flex flex-col mb-10">
            <label for="formNewPassword" class="text-sm italic ">Nouveau mot de passe :</label>
            <input id="formNewPassword" type="password" formControlName="newPassword" placeholder="Nouveau mot de passe"
            class="bg-[#F1F1F1] border-b-2 border-slate-500 py-2">
    
            <div class="input-errors text-center text-orange-500 h-8">
                @if ((newPassword?.touched || hasBeenSubmitted) && newPassword?.hasError('required')) {
                    <p class="text-sm">Champs requis</p>
                }
                @if ((newPassword?.touched || hasBeenSubmitted) && newPassword?.hasError('maxLength')) {
                    <p class="text-sm">TROP LONG</p>
                }
            </div>
        </div>
    
        <div class="btns-container flex justify-center items-center gap-10">
            
            <button type="submit" [disabled]="this.userForm.invalid" 
                class="text-white mt-10 disabled:cursor-not-allowed not-disabled:hover:opacity-80 rounded-md bg-amber-500 px-2 py-3 shadow-md disabled:bg-gray-500 cursor-pointer">
                Confirmer
            </button>
            
        </div>
    
    </form>
</div>