<h1 class="text-xl text-center mb-10 italic">Mes randonnées</h1>

<div class="flex justify-end">
    <button class="mb-10 px-3 py-2 rounded-sm bg-amber-500 text-white min-w-[100px] cursor-pointer hover:opacity-80 shadow-md absolute top-0 right-0"
        (click)="openHikeModal()">
        Nouvelle randonnée
    </button>
</div>


@if(loaderActive){
    <app-basic-loader title="Récupération des randonnées"></app-basic-loader>
}
@else {
    <div class="">
        @for(hike of hikes; track $index){
            <app-hike-card [hike]="hike"></app-hike-card>
        }
        @empty {
            <p class="mt-10 text-center text-gray-600 italic">Aucune randonnée ...</p>
        }
    </div>
}


